build/
out/
install/x86_64
install/x86_32
install/arm_64
install/arm_32
install/build_x86_64
install/build_x86_32
install/build_arm_64
install/build_arm_32
install/build
install/system
CMakeFiles/
.cmake/
arm-build-debug/
arm-build-release/
tempSubmodule/
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeCache.txt-0
examples/TpGUI/TpSlider/slider
examples/TpGUI/TpAnimation/animation
examples/TpGUI/deleteLaterTest/test
examples/TpGUI/fixsrceen/fixscreen
examples/TpGUI/layout/layout
examples/TpGUI/link/link
examples/TpGUI/listwidget/listwidget
examples/TpGUI/TpLine/line
examples/TpGUI/TpLineEdit/lineedit
examples/TpGUI/TpListCheckBoxGroup/listCheckBoxGroup
examples/TpGUI/TpMediaTileButton/button
examples/TpGUI/TpMenu/menu
examples/TpGUI/TpMenuPanelWidget/menuPanelWidget
examples/TpGUI/TpMessgaeBox/TpMessgaeBox
examples/TpGUI/TpPercentProgressBar/progressBar
examples/TpGUI/TpProgressBar/progress
examples/TpGUI/TpRadioButton/radiobutton
examples/TpGUI/TpTabWidget/tabWidget
examples/TpGUI/TpVirtualKeyboard/virtualKeyboard
examples/TpGUI/treewidget/treewidget

project/TpUtils/cmake_install.cmake
project/TpUtils/Makefile
project/TpUtils/CMakeFiles/

project/TpService/cmake_install.cmake
project/TpService/Makefile
project/TpService/CMakeFiles/

project/TpGUI/cmake_install.cmake
project/TpGUI/Makefile
project/TpGUI/CMakeFiles/

project/TpWM/cmake_install.cmake
project/TpWM/Makefile
project/TpWM/CMakeFiles/

project/TpGUI/TpGUI_symlink.cmake
project/TpService/TpService_symlink.cmake
project/TpUtils/TpUtils_symlink.cmake
project/TpWM/TpWM_symlink.cmake

examples/TpUtils/TpThreadPool/threadPool
examples/TpUtils/cssParser/cssParser
examples/TpUtils/cssParser/main
examples/TpUtils/fileDirTest/fileTest
examples/TpUtils/jsonParser/jsonParser
examples/TpUtils/TpInputMethod/inputMethod
examples/TpUtils/TpProcess/process
examples/TpUtils/TpString/TpString
examples/TpUtils/variant/variant
examples/TpGUI/TpButton/button
install_manifest.txt
examples/TpGUI/scroll/scroll
examples/TpGUI/scrollpanel/scrollpanel
examples/TpGUI/TpCheckBox/checkbox
examples/TpGUI/TpLabel/label
examplesApp/bin/examplesApp
examples/TpGUI/TpBattery/battery
examples/TpGUI/thorVGTest/thorVGTest
examples/TpGUI/TpDialog/dialog
examples/TpGUI/TpLottieAnimation/lottieAnimation
examples/TpGUI/test/thorVGTest
examples/TpGUI/TpBattery/battery
examples/TpGUI/TpButton/button
examples/TpGUI/test/test
examples/TpGUI/TpPainterPath/paintPath
examples/TpGUI/TpDialog/dialog
examples/TpUtils/TpConfig/config
examples/TpUtils/TpUuid/uuid
examples/TpUtils/TpPipe/pipe
examples/TpGUI/TpMediaTileButton/button
examples/TpGUI/clipTest/test
examples/TpGUI/TpSlider/slider
examples/TpGUI/TpLineEdit/lineedit
examples/TpGUI/TpOnOffButton/onoff
examples/TpGUI/testDesk/test
examples/TpGUI/TpLabel/label
examples/TpUtils/TpShareMemory/recvMain
examples/TpUtils/TpShareMemory/send
examples/TpGUI/TpGradient/gradient
examples/TpGUI/TpGraphicsEffect/graphics
examples/TpGUI/TpTemperatureWidget/temp
examples/TpUtils/TpGateway/client1
examples/TpUtils/TpGateway/client2
examples/TpGUI/TpMessgaeBox/messgaeBox
examples/TpUtils/TpGateway/PubSub/client2
examples/TpUtils/TpGateway/REP/repClient
examples/TpCore/TpJsonParser/jsonParser
